In [23]:
import pandas as pd
pd.set_option('display.max_columns', None)
pd.set_option('display.width', 500)
pd.set_option('display.float_format', lambda x: '%.2f' % x)

In [27]:
df = pd.read_excel("datasets/miuul_gezinomi.xlsx")

In [28]:
df.info()
df.shape

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 59164 entries, 0 to 59163
Data columns (total 9 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   SaleId              59164 non-null  int64
 1   SaleDate            59164 non-null  datetime64[ns]
 2   CheckInDate         59164 non-null  datetime64[ns]
 3   Price               59151 non-null  float64
 4   ConceptName         59164 non-null  object
 5   SaleCityName        59164 non-null  object
 6   CInDay              59164 non-null  object
 7   SaleCheckInDayDiff  59164 non-null  int64
 8   Seasons             59164 non-null  object
dtypes: datetime64[ns](2), float64(1), int64(2), object(4)
memory usage: 4.1+ MB

(59164, 9)

In [37]:
df.groupby("SaleCityName")["Price"].mean()

SaleCityName
Antalya   64.52
Aydın     53.86
Diğer     47.71
Girne     59.48
Muğla     62.46
İzmir     66.27
Name: Price, dtype: float64

In [38]:
df.groupby("ConceptName")["Price"].mean()

ConceptName
Herşey Dahil     62.67
Oda + Kahvaltı   50.25
Yarım Pansiyon   49.03
Name: Price, dtype: float64

In [39]:
df.groupby(["SaleCityName", "ConceptName"])["Price"].mean()

SaleCityName  ConceptName
Antalya       Herşey Dahil     64.52
              Oda + Kahvaltı   63.50
              Yarım Pansiyon   67.19
Aydın         Herşey Dahil     54.00
              Oda + Kahvaltı   34.46
              Yarım Pansiyon   30.02
Diğer         Herşey Dahil     84.77
              Oda + Kahvaltı   37.60
              Yarım Pansiyon   42.11
Girne         Herşey Dahil     97.68
              Oda + Kahvaltı   39.78
              Yarım Pansiyon   53.25
Muğla         Herşey Dahil     63.02
              Oda + Kahvaltı   59.04
              Yarım Pansiyon   45.12
İzmir         Herşey Dahil     74.70
              Oda + Kahvaltı   41.32
              Yarım Pansiyon   59.61
Name: Price, dtype: float64

In [29]:
agg_df = df.pivot_table("Price", ["SaleCityName", "ConceptName", "Seasons"]).sort_values(by="Price", ascending=False)
agg_df.head()

                                     Price
SaleCityName ConceptName    Seasons
Girne        Herşey Dahil   High    103.94
                            Low      90.94
İzmir        Yarım Pansiyon High     87.66
Diğer        Herşey Dahil   Low      87.31
                            High     83.79

In [30]:
agg_df.reset_index(inplace=True)
agg_df.head()

  SaleCityName     ConceptName Seasons  Price
0        Girne    Herşey Dahil    High 103.94
1        Girne    Herşey Dahil     Low  90.94
2        İzmir  Yarım Pansiyon    High  87.66
3        Diğer    Herşey Dahil     Low  87.31
4        Diğer    Herşey Dahil    High  83.79

In [32]:
agg_df["Sales_Level_Based"] = agg_df["SaleCityName"] + "_" + agg_df["ConceptName"] + "_" + agg_df["Seasons"]
agg_df["Sales_Level_Based"] = agg_df["Sales_Level_Based"].str.upper()
agg_df.head()

  SaleCityName     ConceptName Seasons  Price          Sales_Level_Based
0        Girne    Herşey Dahil    High 103.94    GIRNE_HERŞEY DAHIL_HIGH
1        Girne    Herşey Dahil     Low  90.94     GIRNE_HERŞEY DAHIL_LOW
2        İzmir  Yarım Pansiyon    High  87.66  İZMIR_YARIM PANSIYON_HIGH
3        Diğer    Herşey Dahil     Low  87.31     DIĞER_HERŞEY DAHIL_LOW
4        Diğer    Herşey Dahil    High  83.79    DIĞER_HERŞEY DAHIL_HIGH

In [33]:
agg_df["Sales_Level_Based"].value_counts()

Sales_Level_Based
GIRNE_HERŞEY DAHIL_HIGH        1
GIRNE_HERŞEY DAHIL_LOW         1
MUĞLA_HERŞEY DAHIL_LOW         1
MUĞLA_YARIM PANSIYON_HIGH      1
AYDIN_ODA + KAHVALTI_LOW       1
DIĞER_YARIM PANSIYON_LOW       1
GIRNE_ODA + KAHVALTI_LOW       1
DIĞER_ODA + KAHVALTI_LOW       1
DIĞER_YARIM PANSIYON_HIGH      1
GIRNE_ODA + KAHVALTI_HIGH      1
MUĞLA_ODA + KAHVALTI_LOW       1
DIĞER_ODA + KAHVALTI_HIGH      1
AYDIN_HERŞEY DAHIL_LOW         1
İZMIR_ODA + KAHVALTI_LOW       1
MUĞLA_YARIM PANSIYON_LOW       1
AYDIN_YARIM PANSIYON_HIGH      1
AYDIN_ODA + KAHVALTI_HIGH      1
GIRNE_YARIM PANSIYON_LOW       1
İZMIR_ODA + KAHVALTI_HIGH      1
AYDIN_HERŞEY DAHIL_HIGH        1
ANTALYA_ODA + KAHVALTI_HIGH    1
İZMIR_YARIM PANSIYON_HIGH      1
DIĞER_HERŞEY DAHIL_LOW         1
DIĞER_HERŞEY DAHIL_HIGH        1
İZMIR_HERŞEY DAHIL_HIGH        1
İZMIR_HERŞEY DAHIL_LOW         1
ANTALYA_YARIM PANSIYON_HIGH    1
ANTALYA_HERŞEY DAHIL_HIGH      1
İZMIR_YARIM PANSIYON_LOW       1
MUĞLA_HERŞEY DAHIL_HIGH        1
ANTALYA_YARIM PANSIYON_LOW     1
ANTALYA_HERŞEY DAHIL_LOW       1
MUĞLA_ODA + KAHVALTI_HIGH      1
ANTALYA_ODA + KAHVALTI_LOW     1
GIRNE_YARIM PANSIYON_HIGH      1
AYDIN_YARIM PANSIYON_LOW       1
Name: count, dtype: int64

In [34]:
agg_df["Segment"] = pd.qcut(agg_df["Price"], 4, labels=["D", "C", "B", "A"])
agg_df.head()

  SaleCityName     ConceptName Seasons  Price          Sales_Level_Based Segment
0        Girne    Herşey Dahil    High 103.94    GIRNE_HERŞEY DAHIL_HIGH       A
1        Girne    Herşey Dahil     Low  90.94     GIRNE_HERŞEY DAHIL_LOW       A
2        İzmir  Yarım Pansiyon    High  87.66  İZMIR_YARIM PANSIYON_HIGH       A
3        Diğer    Herşey Dahil     Low  87.31     DIĞER_HERŞEY DAHIL_LOW       A
4        Diğer    Herşey Dahil    High  83.79    DIĞER_HERŞEY DAHIL_HIGH       A

In [35]:
new_customer1 = "ANTALYA_HERŞEY DAHIL_HIGH"
agg_df["Price"][agg_df["Sales_Level_Based"] == new_customer1]

9   64.92
Name: Price, dtype: float64

In [36]:
new_customer2 = "GIRNE_YARIM PANSIYON_LOW"
agg_df["Segment"][agg_df["Sales_Level_Based"] == new_customer2]

19    C
Name: Segment, dtype: category
Categories (4, object): ['D' < 'C' < 'B' < 'A']